html
    head
        title= title
    body
        h1= message
        form(method="get" action="/open")
            button(type="submit") Open
        form(method="get" action="/close")
            button(type="submit") Close
